/Cloth/Code/cmake
/Cloth/Code/build
/Cloth/Docs/Doxygen
/Gmsh/Code/cmake
/Gmsh/Code/build
/Gmsh/Docs/Doxygen
/Sinusoid/Code/cmake
/Sinusoid/Code/build
/Sinusoid/Docs/Doxygen
/Gravity/Code/cmake
/Gravity/Code/build
/Gravity/Docs/Doxygen
.vs
